@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron"	style="text-align: center;">
	<h1>Training System Management</h1>
	<p>
		<img src="~/image/help_teams.png" alt="picture" style="max-height:52%; max-width:52%;" />
	</p>
	@*<p class="lead">The system is created for Training and Manage</p>
	<p><a href="/Categories" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
	<div class="col-md-4" style="text-align: center;">
		<h2>Access to Category</h2>
		<p>
			You can view Category here.
		</p>
		<p><a class="btn btn-default" href="/Categories">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4" style="text-align: center;">
		<h2>View more Course</h2>
		<p>
			Be our student to access our interested Course.
		</p>
		<p><a class="btn btn-default" href="/Courses">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4" style="text-align: center;">
		<h2>Topic</h2>
		<p>
			Join our Topic now!
		</p>
		<p><a class="btn btn-default" href="/Topics">Learn more &raquo;</a></p>
	</div>
</div>