@{
	ViewBag.Title = "EditCategoryExist";
}

<h1 class="text-danger">Error</h1>

<div>
	<h2 class="text-danger">
		Sorry! This name already existed, please input another name!
	</h2>
</div>

<a type="submit" class="btn btn-primary" href="~/Categories/Index">Back to Category</a>

