@{
	ViewBag.Title = "AssignTraineeCourseSuccess";
}

<div>
	<h1 class="text-success">
		Create successfully!
	</h1>
</div>

<a type="submit" class="btn btn-success" href="~/TraineeToCourses/Index">Back to Manage Trainee</a>