@{
	ViewBag.Title = "CreateNullCategory";
}

<h2 class="text-danger">Error</h2>

<div>
	<h1 class="text-danger">
		Sorry! Please input valid data again.
	</h1>
</div>

<a type="submit" class="btn btn-danger" href="~/Categories/Create">Back to create</a>
